<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initialscale=1,
shrink-to-fit=no">
<title>Ejemplo 1</title>
</head>
<link href="assets/css/miestilo.css" rel="stylesheet" >
	<style>
	p {color:red;} /*estilo interno/*
	</style>
<body>
<h1>Bienvenidos a Second</h1>
<p>Somos una empresa que se dedica a la venta de relojes de mesa y pared con
diseños únicos e innovadores.</p>

<div class="estilo2">
<p>"porque llegar a tiempo cuenta"</p>
</div>

<div style="color: blue;">
<h2> Ejemplo de div y span </h2>
<p>
Esto es un párrafo dentro de un div,
</p>

<div class="estilo3" >
<span style="color: darkorange;"> y esto un span dentro de un párrafo.</span>
<p>"este es otro párrafo dentro de la misma división, usando la clase propia "estilo3"</p>
</div>

</body>
</html>